<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ng="http://angularjs.org/" ng-app="itemVerwaltung">
<head>
<title>Willkommen</title>
<script type="text/javascript" src="./js/code.angularjs.org/1.3.0-rc.5/angular.js"></script>
<script type="text/javascript" src="./js/code.angularjs.org/1.3.0-rc.5/angular-resource.js"></script>
<script type="text/javascript" src="./js/angular-hateoas.js"></script>
<script type="text/javascript" src="./js/ContentController.js"></script>
</head>
<body ng-controller="ContentController">
	<div>
		<h1>Testseite</h1>

		<div>
			<button ng-click="listCategories()">Liste aller Kategorien</button>
			<a href="http://localhost:8181/ube/items/auflisten">Liste aller Items</a>
			<table>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
				<tr ng-repeat="x in liste">
					<td>{{x.id}}</td>
					<td>{{x.name}}</td>
					<td>{{x.description}}</td>
				</tr>
			</table>
		</div>
		<ul ng-repeat="link in linklist">
			<li rel="{{link.rel}}" href="{{link.href}}" verb="{{link.verb}}"
				title="{{link.title}}" />
		</ul>
	</div>
</body>
</html>